  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Dela+Gothic+One&family=Lobster&family=Luckiest+Guy&family=Monoton&family=Poppins&display=swap');
html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

*
{
    box-sizing: border-box;

}

.header
{
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url('images/netflix.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
 .nav
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.Netflix-Logo-nav
{
    background: transparent;
    width: 15%;
    position: relative;
    left:10%;
} 

.nav-btns
{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    right: 10%;
}
.select-div
{
    color:white;
    width: fit-content;
    height: fit-content;
    align-self: center;
    display: flex;
    flex-direction: row;
}
.select
{
    color:white;
    background: transparent;
    cursor: pointer;
}
option
{
    background-color: black;
    cursor: pointer;
}
.signin
{

    width: fit-content;
    height: fit-content;
    align-self: center;
    background-color: rgb(229, 9, 20);
    border-radius: 5px;
    color:white;
    padding: 4%;
    margin-left: 0.5%;
    cursor: pointer;
}

.signin:hover
{
    opacity: 0.8;
}

.center-text
{
    width: 75%;
    color:white;
    justify-self: center;
    align-self: center;
    position: relative;
    top:25%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.center-text h1
{
    font-size: 40px;
    

}

.center-text h2
{
    font-size: 30px;

}

.center-btns
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 0.5%;
}
.email
{
    width: 50%;
    padding: 1.5%;
    opacity: 0.8;
    color:white;
    border: none;
    outline: none;
    outline-offset: none;
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.8) 90%, rgba(0, 0, 0, 0.8) 100%);
    font-size: larger;

}
.email:focus
{
    border: 2px solid white;
}
.getstarted
{
    background-color: rgb(229, 9, 20);
    border: 2px solid rgb(229, 9, 20);
    border-radius: 5px;
    color:white;
    margin-left: 1%;
    cursor: pointer;
    

}
.getstarted:hover
{
    opacity: 0.8;
}

.tv-show,.download,.children
{
    background-color: #000;
    border-bottom: 4px solid rgb(70, 64, 64);
    color:white;
    width: 100%;
    height: 75%;
    padding: 0% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tv-content,.download-content,.children-content
{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tv-img
{
    width: 50%;
    text-align: center;
    background-image: url('images/tv.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    align-content: center;
    z-index: 1;
}

.tv-video
{
    position: relative;
    top:24%;
    z-index: -1;
}

.downloadimg
{
    width: 50%;
    background-image: url('images/download.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.childrenimg
{
    width: 50%;
    background-image: url('images/children.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    padding: 2%;

}

.tv-content h1,.download-content h1,.children-content h1
{
    font-size: 40px;

}

.tv-content h2,.download-content h2,.children-content h2
{
    font-size: 30px;

}

.faq
{
    width: 100%;
    height: fit-content;
    background-color: #000;
    color:white;
}

.faq-heading
{
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 50px;
 
}

.question
{
    width: 100%;height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;

}


.q1,.q2,.q3,.q4,.q5
{
    background-color: rgb(45,45,45);
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    padding: 2%;
    


}

.ans1,.ans2,.ans3,.ans4,.ans5 
{
    width: 75%;
    margin-top: 0.3%;
    background-color: rgb(45,45,45);
    overflow: hidden; 
    max-height: 0; 
    transition: max-height 0.2s linear; 
}
.ans1 p,.ans2 p,.ans3 p ,.ans4 p,.ans5 p

{
    margin: 2%;
}

.fa-xmark
{
    display: none;
}

.footer
{
    background-color: #000;
    width: 100%;
    height: max-content;
    display:flex ;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer1,.footer2,.footer3,.footer4
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1%;
    text-align: center;

}
a
{
    text-decoration: none;
    width: fit-content;
    border-bottom:2px solid grey;
    color:white;
    margin-top:4% ;
    
}
a:hover
{
    color: wheat;
}
.copyright
{
    width: 100%;
    height: fit-content;
    background-color: #000;
    text-align: center;
    padding: 1%;
}
.copyright h1
{
    color:white;
}

@media (max-width:768px)
{
    .Netflix-Logo-nav
    {
        width: 25%;
    } 
    
    .nav-btns
    {
        width: 30%;
    }
    .center-text
{
    width: 90%;
    position: relative;
    top:15%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.center-btns
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 0.5%;
}
.email
{
    width: 100%;
}
.getstarted
{
    margin-top: 1%;
    padding: 1%;
}
    .tv-show
    {
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
    }

    .tv-content
    {
        width: 100%;
        height: 50%;
    }

    .tv-img
    {
        width: 100%;
        height: 50%;
    }

    .tv-video
    {
        position: relative;
        top:24%;
        width: 210px;
    }






    .download
    {
        background-color: #000;
        color:white;
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column-reverse;

    }
    .download-content
    {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .downloadimg
{
    width: 100%;
    height: 75%;
    background-image: url('images/download.jpg');
    z-index: 1;
}

.children
{
    display: flex;
    flex-direction: column;
}

.children-content
{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.childrenimg
{
    width: 100%;
    height: 75%;
    background-size: contain;
    
}


.q1,.q2,.q3,.q4,.q5
{
    width: 95%;
    height: 50%;
    


}

.ans1,.ans2,.ans3,.ans4,.ans5 
{
    width: 95%;
}
.footer
{
    width: 100%;
    height: fit-content;
    display:flex ;
    flex-direction: column;
    justify-content: center;
}

.footer1,.footer2,.footer3,.footer4
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
a
{
    align-self: center;
}
.copyright
{
    width: 100%;
    height: fit-content;
}
.copyright h1
{
    color:white;
    font-size: 25px;
}

.center-text h1
{
    font-size: 30px;
}
.center-text h2
{
    font-size: 25px;
}
.tv-content h1,.download-content h1,.children-content h1
{
    font-size: 30px;

}

.tv-content h2,.download-content h2,.children-content h2
{
    font-size: 25px;

}
}